/* elimnate bullet points from lists */
ul {
  list-style-type: none;
}
/* create grid */
#app {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 100px auto;
  grid-template-areas: 
    "sidebar nav-bar"
    "sidebar options"
  ;
  row-gap: 15px;
}
/* checks sidebar */
.sidebar {
  grid-area: sidebar;
  text-align: center;
  display: grid;
  grid-template-rows: 8fr 1fr 0.5fr;
  grid-template-areas: 
    "current-check"
    "check-buttons"
    "new-check"
  ;
}
.current-check-container {
  grid-area: current-check;
  /* overflow: scroll; */
  height: 600px;
}
.check-items {
  grid-area: current-check;
  overflow: scroll;
  height: 500px;
}
.check-button-container {
  grid-area: check-buttons;
  overflow: scroll;
  height: 70px;
}
/* nav bar */
.nav-bar {
  grid-area: nav-bar;
  padding-bottom: 10px;
}
/* main pages */
.page {
  grid-area: options;
}